.feed-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.feed-buttons {
  display: flex;
  gap: 10px;
}

.add-url-txt-field {
    width: 60%;
    margin-right: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mark_as_read_button {
    margin-left: 10px;
}

.error-message {
  background-color: red;
  color: white;
  padding: 10px;
  margin: 10px 0;
}

.error-message button {
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}