

.feed-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.feed-buttons {
  display: flex;
  gap: 10px; /* Adjust the gap between buttons as needed */
}

.add-url-txt-field {
    width: 60%;
    margin-right: 10px;
}